{% extends "base.html" %}
{% block title%} Projects {% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col align-self-center card text-white bg-secondary my-2 mx-4 text-center border border-dark">
            <div class="card-body">
                <div class="card-title d-flex flex-row-reverse">
                    <button class="btn btn-outline-dark btn-md bg-light" type="submit">
                          Add Project
                    </button>
                </div>
                <div class="card-body d-flex border border-dark">
                    <p>Number of Projects:&nbsp;0 <br />
                    Planned Projects:&nbsp;0 <br />
                    Active Projects:&nbsp;0 <br /></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card text-white bg-secondary my-5 py-4 text-center">
    <div class="card-body"><p class="text-white m-0">In Progress</p></div>
</div>
<div class="card text-white bg-secondary my-5 py-4 text-center">
    <div class="card-body">
        <p class="text-white m-0">Planned</p>
    </div>
</div>
{% endblock%}
